<!DOCTYPE html> 
<html> 
  <head> 
    <link rel="stylesheet"href="/static/css/navstyle.css">
  </head>
<body> 
    <header>
        <div class="logo">
                    <p>bangladesh travel</p>
                </div>
            <nav>
                <ul>
                    <li><a href="{% url 'homey'%}">Home</a></li>
                    <li><a href="{% url 'bus'%}">BusTickets</a></li>
                    <li><a href="{% url 'train'%}">TrainTickets</a></li>
                    <li><a href="{% url 'airplane'%}">AirplaneTickets</a></li>
                        
                    </ul>
                      </nav>
                      <button><a href="{% url 'logout'%}" class="btn btn-primary"> Logout </a></button>
        
            </nav>
        </header>
  <br><br><br><br><br><br><br>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<video width="500" height="500"   controls>
 <source src="/static/video/2023-05-22 21-36-15.mp4" type="video/mp4">
 
  
</video>



</body> 
</html>